<div class="row">
    <div class="col-auto">
        <h2>Welcome, {{name}}!</h2>
    </div>
</div>
<section id="bracket">
    <div class="container">
        <div class="split split-one">
            <div class="round round-two">
                <div class="round-details">Round 1<br /><span class="date">March 18</span></div>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                </ul>
            </div> <!-- END ROUND TWO -->

            <div class="round round-three">
                <div class="round-details">Round 2<br /><span class="date">March 22</span></div>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;
                            <select id="westfirst">
                                <option value="None">-- Select --</option>
                                <option value="ID001">Colorado Avalanche</option>
                                <option value="ID002" selected>St.Louis Blues</option>
                            </select></span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;
                            <select id="westsecond">
                                <option value="None">-- Select --</option>
                                <option value="ID003">Vegas Golden Knights</option>
                                <option value="ID004" selected>Minnesota Wild</option>
                            </select></span></li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;<select id="eastfirst">
                                <option value="None">-- Select --</option>
                                <option value="ID005">Pittsburgh Penguins</option>
                                <option value="ID006" selected>NY Islanders</option>
                            </select></span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;
                            <select id="eastsecond">
                                <option value="None">-- Select --</option>
                                <option value="ID007">Washington Capitals</option>
                                <option value="ID008" selected>Boston Bruins</option>
                            </select>
                        </span></li>
                </ul>
            </div> <!-- END ROUND THREE -->
        </div>

        <div class="champion">
            <div class="semis-l">
                <div class="round-details">west semifinals <br /><span class="date">March 26-28</span></div>
                <ul class="matchup championship">
                    <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                    <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                </ul>
            </div>
            <div class="final">
                <i class="fa fa-trophy"></i>
                <div class="round-details">championship <br /><span class="date">March 30 - Apr. 1</span></div>
                <ul class="matchup championship">
                    <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                    <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                </ul>
            </div>
            <div class="semis-r">
                <div class="round-details">east semifinals <br /><span class="date">March 26-28</span></div>
                <ul class="matchup championship">
                    <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                    <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                </ul>
            </div>
        </div>


        <div class="split split-two">


            <div class="round round-three">
                <div class="round-details">Round 2<br /><span class="date">March 22</span></div>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;

                            <select id="centralfirst">
                                <option value="None">-- Select --</option>
                                <option value="ID009">Carolina Hurricanes</option>
                                <option value="ID010" selected>Nashville Predators</option>
                            </select>
                        </span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;
                            <select id="centralsecond">
                                <option value="None">-- Select --</option>
                                <option value="ID011">Florida Panthers</option>
                                <option value="ID012" selected>Tampa Bay Lightning</option>
                            </select>
                        </span></li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;

                            <select id="northfirst">
                                <option value="None">-- Select --</option>
                                <option value="ID013">Toronto Maple Leafs</option>
                                <option value="ID014" selected>Montreal Canadiens</option>
                            </select>
                        </span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;
                            <select id="northsecond">
                                <option value="None">-- Select --</option>
                                <option value="ID015">Edmonton Oilers</option>
                                <option value="ID016" selected>Winnepeg Jets</option>
                            </select></span></li>
                </ul>
            </div> <!-- END ROUND THREE -->

            <div class="round round-two">
                <div class="round-details">Round 1<br /><span class="date">March 18</span></div>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                </ul>
            </div> <!-- END ROUND TWO -->
        </div>
    </div>
</section>
<script src="./js/bracket.js"></script>