<div class="row">
    <div class="col-auto" id= 'welcome'>
        <h2>Create a bracket, {{name}}!</h2>
    </div>
</div>
<section id="bracket">
    <div class="container">
        <div class="split split-one">
            <div class="round round-one">
                <div class="round-details">Round 1<br /><span class="date">March 18</span></div>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Colorado Avalanche</li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Saint Louis Blues</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Las Vegas Golden Knights</li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Minnesota Wild</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Carolina Hurricanes</li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Nashville Predators</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Florida Panthers</li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Tampa Bay Lightning</li>
                </ul>
            </div> <!-- END ROUND ONE -->

            <div class="round round-two">
                <div class="round-details">Round 2<br /><span class="date">March 22</span></div>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;
                            <select id="west1" onchange="westFirst()">
                                <option value="None">-- Select --</option>
                                <option value="Colorado Avalanche">Colorado Avalanche</option>
                                <option value="St. Louis Blues">St.Louis Blues</option>
                            </select></span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;
                            <select id="west2" onchange="westSecond()">
                                <option value="None">-- Select --</option>
                                <option value="Vegas Golden Knights">Vegas Golden Knights</option>
                                <option value="Minnesota Wild">Minnesota Wild</option>
                            </select></span></li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;
                            <select id="central1" onchange="centralFirst()">
                                <option value="None">-- Select --</option>
                                <option value="Carolina Hurricanes">Carolina Hurricanes</option>
                                <option value="Nashville Predators">Nashville Predators</option>
                            </select>
                        </span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;
                            <select id="central2" onchange="centralSecond()">
                                <option value="None">-- Select --</option>
                                <option value="Florida Panthers">Florida Panthers</option>
                                <option value="Tampa Bay Lightning">Tampa Bay Lightning</option>
                            </select>
                        </span></li>
                </ul>
            </div> <!-- END ROUND TWO -->
        </div>

        <div class="champion">
            <div class="semis-l">
                <div class="round-details">Semifinals <br /><span class="date">March 26-28</span></div>
                <ul class="matchup championship">
                    <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;
                            <select id="westSemi" onchange="westSemi()" class="hide">
                                <option value="None">-- Select --</option>
                            </select>
                        </span>
                    </li>
                    <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;
                            <select id="eastSemi" onchange="eastSemi()" class="hide">
                                <option value="None">-- Select --</option>
                            </select>
                        </span>
                    </li>
                </ul>
            </div>
            <div class="final">
                <i class="fa fa-trophy"></i>
                <div class="round-details">Championship <br /><span class="date">March 30 - Apr. 1</span></div>
                <ul class="matchup championship">
                    <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;
                            <select id="final1" onchange="showButton()" class="hide">
                                <option value="None">-- Select --</option>
                            </select>
                        </span></li>
                    <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;
                            <select id="final2" onchange="showButton()" class="hide">
                                <option value="None">-- Select --</option>
                            </select>
                        </span></li>
                </ul>
            </div>
            <div>
                <button id="submit-bracket" type="button" class="hide btn btn-primary btn-sm submit-bracket">Submit Bracket</button>
            </div>
            <div class="semis-r">
                <div class="round-details">Semifinals <br /><span class="date">March 26-28</span></div>
                <ul class="matchup championship">
                    <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;
                            <select id="centralSemi" onchange="centralSemi()" class="hide">
                                <option value="None">-- Select --</option>
                            </select>
                        </span>
                    </li>
                    <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;
                            <select id="northSemi" onchange="northSemi()" class="hide">
                                <option value="None">-- Select --</option>
                            </select>
                        </span>
                    </li>
                </ul>
            </div>
        </div>


        <div class="split split-two">


            <div class="round round-two">
                <div class="round-details">Round 2<br /><span class="date">March 22</span></div>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;
                            <select id="east1" onchange="eastFirst()">
                                <option value="None">-- Select --</option>
                                <option value="Pittsburgh Penguins">Pittsburgh Penguins</option>
                                <option value="NY Islanders">NY Islanders</option>
                            </select></span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;
                            <select id="east2" onchange="eastSecond()">
                                <option value="None">-- Select --</option>
                                <option value="Washington Capitals">Washington Capitals</option>
                                <option value="Boston Bruins">Boston Bruins</option>
                            </select>
                        </span></li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;
                            <select id="north1" onchange="northFirst()">
                                <option value="None">-- Select --</option>
                                <option value="Toronoto Maple Leafs">Toronto Maple Leafs</option>
                                <option value="Montreal Canadies">Montreal Canadiens</option>
                            </select>
                        </span></li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;
                            <select id="north2" onchange="northSecond()">
                                <option value="None">-- Select --</option>
                                <option value="Edmonton Oilers">Edmonton Oilers</option>
                                <option value="Winnepeg Jets">Winnepeg Jets</option>
                            </select>
                        </span></li>
                </ul>
            </div> <!-- END ROUND TWO -->

            <div class="round round-one">
                <div class="round-details">Round 1<br /><span class="date">March 18</span></div>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Pittsburgh Penguins</li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>New York Islanders</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Washington Capitals</li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Boston Bruins</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Toronto Maple Leafs</li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Montreal Canadiens</li>
                </ul>
                <ul class="matchup">
                    <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Edmonton Oilers</li>
                    <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Winnepeg Jets</li>
                </ul>
            </div> <!-- END ROUND ONE -->
        </div>
    </div>
</section>
<script src="./js/bracket.js"></script>