{{#if logged_in}}
<a href="/profile"><button type="button" class="btn btn-primary">Profile</button></a>
{{else}}
<a href="/login"><button type="button" class="btn btn-primary">Login</button></a>
{{/if}}
{{#if logged_in}}
<a href="/bracket"><button type="button" class="btn btn-primary">Bracket</button></a>
{{else}}
<a href="/login"><button type="button" class="btn btn-primary">Bracket</button></a>
{{/if}}
    <section id="bracket">
        <div class="container">
            <div class="split split-one">
                <div class="round round-two">
                    <div class="round-details">Round 1<br /><span class="date">March 18</span></div>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Colorado Avalanche</li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Saint Louis Blues</li>
                    </ul>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Las Vegas Golden Knights</li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Minnesota Wild</li>
                    </ul>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Pittsburgh Penguins</li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>New York Islanders</li>
                    </ul>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Washington Capitals</li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Boston Bruins</li>
                    </ul>
                </div> <!-- END ROUND TWO -->

                <div class="round round-three">
                    <div class="round-details">Round 2<br /><span class="date">March 22</span></div>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Colorado Avalanche</li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                    </ul>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Boston Bruins</li>
                    </ul>
                </div> <!-- END ROUND THREE -->
            </div>

            <div class="champion">
                <div class="semis-l">
                    <div class="round-details">west semifinals <br /><span class="date">March 26-28</span></div>
                    <ul class="matchup championship">
                        <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                        <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                    </ul>
                </div>
                <div class="final">
                    <i class="fa fa-trophy"></i>
                    <div class="round-details">championship <br /><span class="date">March 30 - Apr. 1</span></div>
                    <ul class="matchup championship">
                        <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                        <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                    </ul>
                </div>
                <div class="semis-r">
                    <div class="round-details">east semifinals <br /><span class="date">March 26-28</span></div>
                    <ul class="matchup championship">
                        <li class="team team-top">&nbsp;<span class="vote-count">&nbsp;</span></li>
                        <li class="team team-bottom">&nbsp;<span class="vote-count">&nbsp;</span></li>
                    </ul>
                </div>
            </div>


            <div class="split split-two">


                <div class="round round-three">
                    <div class="round-details">Round 2<br /><span class="date">March 22</span></div>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span></li>
                    </ul>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span></li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Winnipeg Jets</li>
                    </ul>
                </div> <!-- END ROUND THREE -->

                <div class="round round-two">
                    <div class="round-details">Round 1<br /><span class="date">March 18</span></div>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Carolina Hurricanes</li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Nashville Predators</li>
                    </ul>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Florida Panthers</li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Tampa Bay Lightning</li>
                    </ul>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Toronto Maple Leafs</li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Montreal Canadiens</li>
                    </ul>
                    <ul class="matchup">
                        <li class="team team-top">&nbsp;<span class="score">&nbsp;</span>Edmonton Oilers</li>
                        <li class="team team-bottom">&nbsp;<span class="score">&nbsp;</span>Winnepeg Jets</li>
                    </ul>
                </div> <!-- END ROUND TWO -->
            </div>
        </div>
    </section>